doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css')
    script(src="/javascripts/app.js")
    audio#audioPlayer(src="/data/background.mp3",autoplay="true", loop="true")
  body
    div.container
      img.float-left(width="200px", src="/img/vocap.png")
      block content
