body {
  margin: 0;
  padding : 0;
}
#image {
  width: 600px;
}
#description {
  font-size: 50px;
}

.microphone {
  color: rgb(0, 0, 0);
  font-size: 80px;
}

.microphone.active {
  color: rgb(201, 50, 50);
}