body {
  margin: 0;
  padding : 0;
}
#image {
  width: 600px;
}
#description {
  font-size: 70px;
  font-weight: 900;
  color: #048B9A;
}

body {
  background-color: #FFFFFF;
}

img {

  transition: opacity 1s ease-in-out;
}

.emotion {
  font-size: 80px;
  font-size: right;
}